$orangeColor: #E44D3E

#error_explanation
  margin: auto
  max-width: 700px
  margin-bottom: 1em
  h2
    margin-top: 0
    color: $orangeColor
  ul
    text-align: left
    background-color: $orangeColor
    color: white
    padding: 0.7em 1em
    li
      margin-bottom: 0.5em
