@import "../variables"

.categories
  position: relative
  .categories-groups
    display: flex
    overflow: hidden
    justify-content: space-between
    align-items: flex-start
    .category
      position: initial
      cursor: pointer
      display: flex
      flex-direction: column
      align-items: center
      width: 36em
      height: 197px
      margin-top: 1em
      padding-top: 1em
      border-right: 1px solid $color-gray-text
      transition: all 0.3s
      &:hover
        background: $color-orange
        h4
          color: white
      &:last-child
        border-right: none
        padding-right: none
      img
        max-width: 140px
        max-height: 140px

      h4
        text-transform: uppercase
        color: $color-gray-text
        font-weight: normal
        font-size: 1em

      &.active
        height: $categoryHeight
        background-color: $color-orange
        transition: all 0.3s linear
        h4
          color: white

        .category-expositores-carousel
          transform: translateY(0%)
          z-index: 0

      .category-expositores-carousel
        position: absolute
        left: 0
        width: 100%
        height: auto
        display: flex
        z-index: -1
        justify-content: space-between
        background: $color-gray-expositors-carousel
        margin-top: 0.8em
        border: 3px solid $color-orange
        border-right: none
        border-left: none
        transition: transform 0.33s linear
        transform: translateY(-20%)
        .expositor-on-carousel
          margin: 0 0 0 2em
          .expositor-name
            top: 0.5em
            text-transform: uppercase
            position: relative
            color: $color-blue

.expositor-photo, .photo-on-carousel
  border: 2px solid $color-blue
  background-color: white
  color: white
  &.without-logo
    margin: 0 auto
    text-align: center
    background-color: $color-blue

.expositor-photo
  font-size: 100px
  max-width: 250px
  max-height: 250px
  &.without-logo
    padding-top: 50px
    width: 250px
    height: 250px

.photo-on-carousel
  font-size: 45px
  width: 140px
  height: 140px
  &.without-logo
    padding-top: 35px

.category-expositores-carousel
  .arrow-left, .arrow-right
    position: absolute
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    z-index: 10
    font-size: 2em
    color: gray
    &:hover
      color: $color-orange
  .arrow-left
    left: 10px
  .arrow-right
    right: 10px
  .expositores-container
    display: flex
    justify-content: flex-start
    align-items: center
    transition: 0.3s
    width: 100%
    padding: 1em
    margin: 2em 0
