body
  background-color: #dbdbdb

#header
  .container-out
    background-color: white
  #logo
    max-height: 45px
    margin: 8px 40px

  #navigation
    position: absolute
    top: 0
    .menu-item a
      color: #000
      // font: 400 14px/1.7em "Helvetica Neue", Helvetica, sans-serif
      font: 600 13px/1.2em "Raleway", sans-serif
      letter-spacing: -0.025em
      &:hover
        color: #e94f2b
    .current_page_item a
      color: #e94f2b

.section_template
  h1
    text-transform: uppercase
    position: relative
    color: white
    text-shadow: 1px 1px 0 #000
    font: 700 65px/1.2em "Montserrat", sans-serif

  &.section_template_white_bg
    background: white
    h1
      color: #1E4D81
      &::after
        content: ""
        position: absolute
        width: 60px
        height: 1.5px
        bottom: 0
        left: 0
        right: 0
        margin: -0.2em auto
        background: #E44D3E

.body2
  background-color: #ffffff

#footer,#footer a, #footer h2,#header h1 a
  color: #000000

h2,h1.singletitle
  font: 700 50px/1.2em "Montserrat" sans-serif

#footer h2
  text-transform: uppercase !important
  letter-spacing: -0.025em

input, textarea, input checkbox, input radio, select, file
  float: none

.form-group
  text-align: left

label
  margin-bottom: 5px !important
  text-transform: uppercase
  color: #E44D3E
  font-weight: 500t

textarea.form-control
  height: 150px
  max-height: 350px
  font-style: normal
  font-weight: normal
  resize: vertical

  &::placeholder
    font-style: italic
    font-weight: 300

.form-control
  border-radius: 0
  border: none
  border-left: 4px solid #E44D3E
  box-shadow: none
  background: rgba(242,241,241, 0.92)

  &:focus
    border-color: #E44D3E
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(233, 169, 103, 0.6)

.btn-default
  border-radius: 0
  border: none
  background: #E44D3E
  color: white

  &:hover
    background: #C24033
    color: white

  &:focus
    color: white
    background-color: #C24033
